/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
  tab-size: 4;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  text-wrap: balance;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea,
label {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
}

textarea:not([rows]) {
  min-height: 10em;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none; /* Added to remove error */
  -webkit-appearance: button;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: none; /* Added to remove error */
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
